.App {
  font-family: "Montserrat", sans-serif;
  color: #505253;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(179, 252, 200);
  background: linear-gradient(155deg, rgba(179,252,200,1) 0%, rgba(179,252,200,1) 50%, rgba(179,229,252,1) 50%, rgba(179,229,252,1) 100%);
}
@media screen and (max-width: 800px){
  .App {
    align-items: initial;
    justify-content: initial;
  }
}
